html {
  box-sizing: border-box;
}

body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

:root {
  --color-hover: #00acdc;
  --nav-height: 60px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 0;
  padding: 0;
  height: var(--nav-height);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.logo__img {
  display: block;
  height: 40px;
  width: auto;
  margin-left: 50px;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_item {
  margin-right: 20px;
}

.nav_item:last-child {
  margin-right: 0;
}

.apple {
  color: var(--color-hover);
}

.nav_link {
  display: block;
  text-align: center;
  line-height: var(--nav-height);
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  padding: 0;
}

.nav_link:hover {
  color: var(--color-hover);
}

.is-active {
  color: var(--color-hover);
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-hover);
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav {
  margin-right: 50px;
}
